	/* Main layout */
    body{ padding:10px 0 0 10px; }
	.wrapper{ width:990px; background-color:#a2d2ee; padding:0 10px 10px 10px;-moz-border-radius: 2px;-webkit-border-radius:2px;}
	.header{ width:100%;display:inline-block }
	.footer{ width:100%;display:inline-block  }
	.main-content{ clear:both; }
	.column-a{ float:left;width:300px }
	.column-b{ float:right;width:682px }
	.column-c{ display:none }

	/*@TODO change this to default width of our new wide pages*/
	.nineeighty .wrapper{width:960px; padding:0  10px 10px 10px; }
	.nineeighty .wrapper .column-a{width:320px}
	.nineeighty .wrapper .column-b{width:630px}

	/* Narrow layout until we agree on a final wide layout (add nittitalsbredde class to #wrapper) */
	.nittitallsbredde .wrapper{ width:751px }
	.nittitallsbredde .column-a{width:268px }
	.nittitallsbredde .column-b{width:475px }
	
	/* Add swap class to 'main-content'-div to swap columns */
	.swap .column-a{ float:right }
	.swap .column-b{ float:left }
	
	/* Sub layout */
	.module{ width:100%;margin-bottom:8px;display:inline-block;position:relative;border-radius:2px; -moz-border-radius: 2px;-webkit-border-radius:2px; }
	.module>h3{ background-color:#DDEEFF;padding:8px }
	.module h3.ie6sux{ background-color:#DDEEFF;padding:8px } /* ie6fix */
	.module-content{ padding:8px;}

	/*@TODO change this to default width of our new wide pages*/
	.nineeighty .wrapper .module{margin-bottom:10px;}
	.nineeighty .wrapper .module>h3{padding:10px;}
	.nineeighty .wrapper .module-content{padding:10px;}

	
	/*  Color profile */
	.bg-blue{ background-color:#ddeeff; }
	.bg-lightblue{ background-color:#eef8ff; }
	.bg-white{ background-color:#fff; }
	.bg-grey{ background-color:#eee; }
    .bg-yellow{background-color:#FFFF99}
    .bg-lightyellow{background-color:#ffc;}
	
	/* Fonts and Links */
	body, table, input, textarea { font-family: Arial,Helvetica,sans-serif;font-size:12px;color:#000000 }
	h1 { font-size:16px }
	h2 { font-size:14px }
	h3 { font-size:12px }
	h1, h2, h3, h4, h5, h6, strong { font-weight:bold }
	a{ text-decoration:underline }
	a:link, .looklikelinks {color:#000066; text-decoration:underline; }
	a:visited {color:#666; text-decoration:underline; }
	a:hover, .looklikelinks:hover, .looklikelinks:active {color:#3366ff; text-decoration:underline; }
	a.navigation:link, .navigation a:link { color:#000066 } /* .navigation class for interface type links (no visited state) */
	a.navigation:visited, .navigation a:visited{ color:#000066 }
	a.navigation:hover, .navigation a:hover{ color:#3366FF }
    .looklikelinks:hover {cursor:pointer}

	/* Form elements */
	/*
	input[type=button],button,input[type=submit]{ background-color:#0099FF;border:1px solid #0068AD;border-color:#6CC4FF #0068AD #00497A #38AFFF;color:white;font-weight:bold;cursor:pointer;padding:0 4px 1px 3px;voice-family:inherit; }
	input[type=text],
	input[type=password],
	input[type=email],
	input[type=number],
	input[type=tel],
	textarea{ border:1px solid #BBBBCC;padding:1px 1px 2px }
	input[type=password]:hover,
	input[type=password]:focus,
	input[type=text]:hover,
	input[type=text]:focus,
	input[type=email]:hover,
	input[type=email]:focus,
	input[type=number]:hover,
	input[type=nubmer]:focus,
	input[type=tel]:focus,
	input[type=tel]:hover,
	textarea:hover,
	textarea:focus{ border:1px solid black }
	input[type=checkbox]{ vertical-align:middle;margin-right:4px }
	label{ color:#555555 }
	label:hover{ color:#000000 }
	input.warning ,
	input.error {border-color:#cc0000;}
	*/
	/* Rounded corners */
	.bluedot{background:#A2D2EE none repeat scroll 0 0; }
	.greydot{background:#eee none repeat scroll 0 0; }
	.babybluedot{background:#ECF6FB none repeat scroll 0 0; }
	.whitedot{background:#FFFFFF none repeat scroll 0 0; }
	.dot {display:block;height:1px;position:absolute;width:1px;}
	.dot1{left:0; top:0;}
	.dot2{right:0; top:0;}
	.dot3{bottom:0; left:0;}
	.dot4{bottom:0; right:0;}
	